  <div class="h-[68px] z-10 bg-gray-700 sticky top-0 flex items-center font-['Open_Sans'] justify-between px-10">
        <div class="flex gap-5" >
            <h1 class="font-bold text-neutral-200">
                    CRM App</h1>
                <ul class="flex items-center" *ngFor="let item of navList">
                    <li class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]">{{item}}</li>
                </ul>
        </div>
        <div class="text-white flex items-center gap-4">
            <div  class="flex items-center gap-2">
                <a href="#"><span>welcome <strong>SivA</strong></span></a>
               
            </div>
            &nbsp; | &nbsp;
            <a href="#" class="flex">LogOut</a>
        </div>
   </div>

   