@font-face {
    font-family: 'lufga';
    src:url('/assets/fonts/lufga/LufgaLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





.layout {
    font-family: 'lufga' !important;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make sure it covers the whole viewport height */
    background: linear-gradient(to right, #f0f0f0, #f8e8e8);
  }
  
  .header {
    height: 60px; /* Adjust the height of your header */
    color: white; /* Example text color */
    align-items: center;
  }
  
  /* Main Content Area */
  .content {
    display: flex;
    flex: 1; /* Take up the remaining space after the header */
    overflow: hidden; /* Prevent content overflow */
  }
  
  /* Sidebar */
  .sidebar {
    width: 40px; /* Adjust the width of the sidebar */
    background-color: #f4f4f4; /* Example background color */
    height: 100%; /* Make sure it fills the vertical space */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a raised effect */
  }
  
  /* Main Content */
  .main-content {
    flex: 1; /* Fill the rest of the horizontal space */
    padding: 20px;
    overflow-y: auto; /* Make the content scrollable if needed */
  }