<!-- <div class="flex flex-col h-screen">
    <app-header>
    </app-header>
    
      <label class=" btn-circle swap swap-rotate absolute top-3 left-3 px-3">
      
        <input type="checkbox" (click)="view()" />
      
        <svg
          class="swap-off fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512">
          <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
        </svg>
      
        <svg
          class="swap-on fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512">
          <polygon
            points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
        </svg>
      </label>
    <div class="flex overflow-hidden">
      <app-sidrbar class="transform transition-transform duration-1000 " *ngIf="nave"></app-sidrbar>
      <div class="flex-[1] overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->
  <div class="flex flex-col h-screen">
    <app-header></app-header>
  
    <!-- Toggle Button -->
    <label class="btn-circle swap swap-rotate absolute top-3 left-3 px-3">
      <input type="checkbox" (click)="view()" />
      <!-- Menu Icon -->
      <svg
        class="swap-off fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512">
        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
      </svg>
      <!-- Close Icon -->
      <svg
        class="swap-on fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512">
        <polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
      </svg>
    </label>
  
    <div class="flex overflow-hidden">
      <!-- Sidebar Container -->
      <app-sidrbar
        class="transform transition-transform duration-700 ease-in-out  w-30 z-40 h-screen"
        [ngClass]="nave ? 'translate-x-0' : '-translate-x-full'">
      </app-sidrbar>
  
      <!-- Main Content Area -->
      <div class="flex-[1] overflow-y-auto p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  

  <!-- <div class="layout"></div>
    
    <app-header class="header"></app-header>
    <div class="content">
      <app-sidebar class="sidebar"></app-sidebar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->