@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translatex(200px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0s; 
  }
  