<h1 class="text-3xl fade-in font-bold mb-6">Add Lead</h1>
<form [formGroup]="addLeadsForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-6">
    <div class=" order-2 md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col">
      <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
      <div class="flex">
      
        <select
          id="namePrefix"
          formControlName="namePrefix"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg focus:ring-blue-500 focus:border-blue-500 block w-24 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select</option>
          <option *ngFor="let prefix of namePrefixes" [value]="prefix">{{ prefix }}</option>
        </select>
        
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="bg-gray-50 border border-l-0 border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="John"
          required />
      </div>
     
      <div *ngIf="addLeadsForm.controls['firstName'].invalid && (addLeadsForm.controls['firstName'].touched || submitted)">
        <span class="text-red-500">Please fill the First Name.</span>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
      <input type="text" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="lastName" placeholder="Doe" required />
      <div *ngIf="addLeadsForm.controls['lastName'].invalid && (addLeadsForm.controls['lastName'].touched || submitted)">
        <span class="text-red-500">Please fill the Last Name.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
      <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="email" placeholder="john.doe@example.com" required />
      <div *ngIf="addLeadsForm.controls['email'].invalid && (addLeadsForm.controls['email'].touched || submitted)">
        <span class="text-red-500">Please enter a valid email address.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="mobileNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mobile Number</label>
      <div class="flex">
        
        <select
          id="countryCodeMobile"
          formControlName="countryCodeMobile"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select</option>
          <option *ngFor="let country of code" [value]="country.id">
           {{country.shortname}} ({{ country.phonecode }})
          </option>
        </select>
       
        <input
          type="tel"
          maxlength="10"
          id="mobileNumber"
          formControlName="mobileNumber"
          class="bg-gray-50 border border-l-0 border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="123-456-7890"
          required />
      </div>
      <div *ngIf="addLeadsForm.controls['mobileNumber'].invalid && (addLeadsForm.controls['mobileNumber'].touched || submitted)">
        <span class="text-red-500">Please enter a valid Mobile Number.</span>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job Title</label>
      <input type="text" id="jobTitle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="jobTitle" placeholder="Manager" required />
      <div *ngIf="addLeadsForm.controls['jobTitle'].invalid && (addLeadsForm.controls['jobTitle'].touched || submitted)">
        <span class="text-red-500">Please fill the JobTitle.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="organization" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization</label>
      <input type="text" id="organization" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="organization" placeholder="Company Name" required />
      <div *ngIf="addLeadsForm.controls['organization'].invalid && (addLeadsForm.controls['organization'].touched || submitted)">
        <span class="text-red-500">Please fill the Organization.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Department</label>
      <input type="text" id="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="department" placeholder="Sales" required />
      <div *ngIf="addLeadsForm.controls['department'].invalid && (addLeadsForm.controls['department'].touched || submitted)">
        <span class="text-red-500">Please fill the valid Department.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="employee" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number OF Employee</label>
      <input type="text" id="employee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="employee" placeholder="12345" required />
      <div *ngIf="addLeadsForm.controls['employee'].invalid && (addLeadsForm.controls['employee'].touched || submitted)">
        <span class="text-red-500">Please fill the Number Of Employee.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="officePhone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Office Phone</label>
      <div class="flex">
        <select
          id="countryCodeOffice"
          formControlName="countryCodeOffice"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select</option>
          <option *ngFor="let country of code" [value]="country.id">
            {{country.shortname}} ({{ country.phonecode }})
           </option>
        </select>
    
        <input
          type="tel"
          id="officePhone"
          maxlength="10"
          formControlName="officePhone"
          class="bg-gray-50 border border-l-0 border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="098765434"
          required />
      </div>
      <div *ngIf="addLeadsForm.controls['officePhone'].invalid && (addLeadsForm.controls['officePhone'].touched || submitted)">
        <span class="text-red-500">Please fill a valid Office Phone.</span>
      </div>
    </div>
    
    <div class="flex flex-col">
      <label for="alternateEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alternate Email</label>
      <input type="email" id="alternateEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="alternateEmail" placeholder="alternate@example.com" required />
      <div *ngIf="addLeadsForm.controls['alternateEmail'].invalid && (addLeadsForm.controls['alternateEmail'].touched || submitted)">
        <span class="text-red-500">Please fill the valid Alternate Email.</span>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="leadSource" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lead Source</label>
      <input type="text" id="leadSource" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="leadSource" required />
      <div *ngIf="addLeadsForm.controls['leadSource'].invalid && (addLeadsForm.controls['leadSource'].touched || submitted)">
        <span class="text-red-500">Please fill the valid Lead Source.</span>
      </div>
    </div>

    <div class="flex flex-col">
      <label for="leadStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lead Status</label>
      <input type="text" id="leadStatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" formControlName="leadStatus" required />
      <div *ngIf="addLeadsForm.controls['leadStatus'].invalid && (addLeadsForm.controls['leadStatus'].touched || submitted)">
        <span class="text-red-500">Please fill the valid Lead Status.</span>
      </div>
    </div>
  </div>
  <div class="order-1 md:col-span-1 flex flex-col items-center md:order-2">
       <div class="flex flex-col items-center">
         <label for="profileImg" class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Profile Image</label>
         <label for="profileImg" class="cursor-pointer">
           <div class="w-44 h-56 bg-cover bg-center rounded" style="background-image: url('../../../assets/images/sampleImage/avatar-659652_640.webp');">
             <input type="file" id="profileImg" formControlName="profileImg" class="hidden">
           </div>
         </label>
       </div>
 
       <div class="w-full mt-8">
         <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
         <textarea id="comments" formControlName="comments" class="w-full p-2.5 rounded-lg border bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" rows="4" placeholder="Enter your comments here..." required></textarea>
         <div *ngIf="addLeadsForm.controls['comments'].invalid && (addLeadsForm.controls['comments'].touched || submitted)">
           <span class="text-red-500">Please enter your comments.</span>
         </div>
       </div>
     </div>
  </div><br>


  <h1 class="text-2xl font-bold mb-6">Address</h1>
  <div>
    <h1 class="text-xl font-bold mb-6">Primary Address</h1> 
    <div class="grid gap-6 mb-6 md:grid-cols-3">
        <div>
        <label for="primaryAddress1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Address Line 1
        </label>
        <input
          type="text"
          id="primaryAddress1"
          formControlName="primaryAddress1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="123 Main St"
          required
        />
        <div *ngIf="addLeadsForm.controls['primaryAddress1'].invalid && (addLeadsForm.controls['primaryAddress1'].touched || submitted)">
          <span class="text-red-500">Please fill the Address Line 1.</span>
        </div>
      </div>
    
      <div>
        <label for="primaryAddress2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Address Line 2
        </label>
        <input
          type="text"
          id="primaryAddress2"
          formControlName="primaryAddress2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Apartment, Suite, etc."
        />
        <div *ngIf="addLeadsForm.controls['primaryAddress2'].invalid && (addLeadsForm.controls['primaryAddress2'].touched || submitted)">
          <span class="text-red-500">Please fill the Address Line 2.</span>
        </div>
      </div>
      <div>
        <label for="country1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Country
        </label>
        <select
          (change)="onCountryChange($event)"
          id="country1"
          formControlName="country1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select Country</option>
          <option *ngFor="let country of countryList" [value]="country.id">
            {{ country.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['country1'].invalid && (addLeadsForm.controls['country1'].touched || submitted)">
          <span class="text-red-500">Please fill the Country1.</span>
        </div>
      </div>
      
    
      <div>
        <label for="state1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          State
        </label>
        <select
        (change)="onStateChange($event)"
          id="state1"
          formControlName="state1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select State</option>
          <option *ngFor="let state of stateList" [value]="state.id">
            {{ state.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['state1'].invalid && (addLeadsForm.controls['state1'].touched || submitted)">
          <span class="text-red-500">Please fill the State1.</span>
        </div>
      </div>
    
     
      <div>
        <label for="city1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          City
        </label>
        <select
          id="city1"
          formControlName="city1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select City</option>
          <option *ngFor="let city of cityList" [value]="city.id">
            {{ city.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['city1'].invalid && (addLeadsForm.controls['city1'].touched || submitted)">
          <span class="text-red-500">Please fill the City1.</span>
        </div>
    </div>
    </div>
    <br>
    <h1 class="text-xl font-bold mb-6">Secondary Address</h1>
    <div class="grid gap-6 mb-6 md:grid-cols-3">
        
        <div>
        <label for="secondaryAddress1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Address Line 1
        </label>
        <input
          type="text"
          id="secondaryAddress1"
          formControlName="secondaryAddress1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="123 Main St"
          required
        />
        <div *ngIf="addLeadsForm.controls['secondaryAddress1'].invalid && (addLeadsForm.controls['secondaryAddress1'].touched || submitted)">
          <span class="text-red-500">Please fill the Address Line 1.</span>
        </div>
        </div>
    
   
      <div>
        <label for="secondaryAddress2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Address Line 2
        </label>
        <input
          type="text"
          id="secondaryAddress2"
          formControlName="secondaryAddress2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Apartment, Suite, etc."
        />
        <div *ngIf="addLeadsForm.controls['secondaryAddress2'].invalid && (addLeadsForm.controls['secondaryAddress2'].touched || submitted)">
          <span class="text-red-500">Please fill the Address Line 2.</span>
        </div>
      </div>
    
    
      <div>
        <label for="country2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Country
        </label>
        <select
          (change)="onCountryChange($event)"
          id="country2"
          formControlName="country2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select Country</option>
          <option *ngFor="let country of countryList" [value]="country.id">
            {{ country.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['country2'].invalid && (addLeadsForm.controls['country2'].touched || submitted)">
          <span class="text-red-500">Please fill the Country2.</span>
        </div>
      </div>
      
      
      <div>
        <label for="state2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          State
        </label>
        <select
        (change)="onStateChange($event)"
          id="state2"
          formControlName="state2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select State</option>
          <option *ngFor="let state of stateList" [value]="state.id">
            {{ state.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['state2'].invalid && (addLeadsForm.controls['state2'].touched || submitted)">
          <span class="text-red-500">Please fill the State2.</span>
        </div>
      </div>
    
    
      <div>
        <label for="city2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          City
        </label>
        <select
          id="city2"
          formControlName="city2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required>
          <option value="" disabled>Select City</option>
          <option *ngFor="let city of cityList" [value]="city.id">
            {{ city.name }}
          </option>
        </select>
        <div *ngIf="addLeadsForm.controls['city2'].invalid && (addLeadsForm.controls['city2'].touched || submitted)">
          <span class="text-red-500">Please fill the City2.</span>
        </div>
    </div>
    </div>
  </div>
  <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
</form>



<!-- <h1 class="text-3xl fade-in font-bold mb-6">Add Lead</h1>
 <form [formGroup]="addLeadsForm" (ngSubmit)="onSubmit()">
   <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-6">
     <div class="order-2 md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-6">
       
       <div class="flex flex-col">
         <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
         <div class="flex">
           <select id="namePrefix" formControlName="namePrefix" class="w-1/4 p-2.5 rounded-l-lg border" required>
             <option value="" disabled>Select</option>
             <option *ngFor="let prefix of namePrefixes" [value]="prefix">{{ prefix }}</option>
           </select>
           <input id="firstName" formControlName="firstName" class="w-3/4 p-2.5 rounded-r-lg border" placeholder="John" required />
         </div>
         <div *ngIf="addLeadsForm.controls['firstName'].invalid && (addLeadsForm.controls['firstName'].touched || submitted)">
           <span class="text-red-500">Please fill the First Name.</span>
         </div>
       </div>
 
       <div class="flex flex-col">
         <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
         <input id="lastName" formControlName="lastName" class="w-full p-2.5 rounded-lg border" placeholder="Doe" required />
         <div *ngIf="addLeadsForm.controls['lastName'].invalid && (addLeadsForm.controls['lastName'].touched || submitted)">
           <span class="text-red-500">Please fill the Last Name.</span>
         </div>
       </div>
 
       <div class="flex flex-col">
         <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
         <input id="email" type="email" formControlName="email" class="w-full p-2.5 rounded-lg border" placeholder="john.doe@example.com" required />
         <div *ngIf="addLeadsForm.controls['email'].invalid && (addLeadsForm.controls['email'].touched || submitted)">
           <span class="text-red-500">Please enter a valid email address.</span>
         </div>
       </div>
 
       <div class="flex flex-col">
         <label for="mobileNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mobile Number</label>
         <div class="flex">
           <select id="countryCodeMobile" formControlName="countryCodeMobile" class="w-1/4 p-2.5 rounded-l-lg border" required>
             <option value="" disabled>Select</option>
             <option *ngFor="let country of code" [value]="country.id">{{country.shortname}} ({{ country.phonecode }})</option>
           </select>
           <input id="mobileNumber" type="tel" formControlName="mobileNumber" class="w-3/4 p-2.5 rounded-r-lg border" placeholder="123-456-7890" required />
         </div>
         <div *ngIf="addLeadsForm.controls['mobileNumber'].invalid && (addLeadsForm.controls['mobileNumber'].touched || submitted)">
           <span class="text-red-500">Please enter a valid Mobile Number.</span>
         </div>
       </div>
 
       <div class="flex flex-col">
         <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job Title</label>
         <input id="jobTitle" formControlName="jobTitle" class="w-full p-2.5 rounded-lg border" placeholder="Manager" required />
         <div *ngIf="addLeadsForm.controls['jobTitle'].invalid && (addLeadsForm.controls['jobTitle'].touched || submitted)">
           <span class="text-red-500">Please fill the Job Title.</span>
         </div>
       </div>
 
 
     </div>
 
     <div class="order-1 md:col-span-1 flex flex-col items-center md:order-2">
       <div class="flex flex-col items-center">
         <label for="profileImg" class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Profile Image</label>
         <label for="profileImg" class="cursor-pointer">
           <div class="w-32 h-32 bg-cover bg-center rounded-full" style="background-image: url('../../../assets/images/sampleImage/avatar-659652_640.webp');">
             <input type="file" id="profileImg" formControlName="profileImg" class="hidden">
           </div>
         </label>
       </div>
 
       <div class="w-full mt-4">
         <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
         <textarea id="comments" formControlName="comments" class="w-full p-2.5 rounded-lg border" rows="4" placeholder="Enter your comments here..." required></textarea>
         <div *ngIf="addLeadsForm.controls['comments'].invalid && (addLeadsForm.controls['comments'].touched || submitted)">
           <span class="text-red-500">Please enter your comments.</span>
         </div>
       </div>
     </div>
   </div>
 
   <h1 class="text-2xl font-bold mb-6">Address</h1>
   <div>
     <h1 class="text-xl font-bold mb-6">Primary Address</h1>
     <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
       <div>
         <label for="primaryAddress1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 1</label>
         <input id="primaryAddress1" formControlName="primaryAddress1" class="w-full p-2.5 rounded-lg border" placeholder="123 Main St" required />
         <div *ngIf="addLeadsForm.controls['primaryAddress1'].invalid && (addLeadsForm.controls['primaryAddress1'].touched || submitted)">
           <span class="text-red-500">Please fill the Address Line 1.</span>
         </div>
       </div>
 
       <div>
         <label for="primaryAddress2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 2</label>
         <input id="primaryAddress2" formControlName="primaryAddress2" class="w-full p-2.5 rounded-lg border" placeholder="Apartment, Suite, etc." />
       </div>
 
       <div>
         <label for="country1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
         <select id="country1" formControlName="country1" class="w-full p-2.5 rounded-lg border" required>
           <option value="" disabled>Select Country</option>
           <option *ngFor="let country of countryList" [value]="country.id">{{ country.name }}</option>
         </select>
         <div *ngIf="addLeadsForm.controls['country1'].invalid && (addLeadsForm.controls['country1'].touched || submitted)">
           <span class="text-red-500">Please fill the Country1.</span>
         </div>
       </div>
     </div>
   </div>
 </form> -->
 